@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<hr />
<p>Genre: @Model.Genre.GenreName</p>
<p>Release Date: @Model.ReleaseDate.Date.ToString("D")</p>
<p>Date Added: @Model.DateAddedToTheStock.Date.ToString("D")</p>
<p>Number in Stock: @Model.NumberInStock</p>

